In [117]:
import pandas as pd
import math
import numpy as np

In [118]:
data = pd.read_csv('Student-University.csv',header=None)

In [119]:
data

            0          1  2
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]

In [120]:
def prob(y):
    return (1/(1+(math.e)**(-y)))

In [121]:
def calc_y(x1,x2,b0,b1,b2):
    return b0+(x1*b1)+(x2*b2)

In [122]:
def calc_b(x1,x2,b0,b1,b2,y,pred,alpha):
    b0=b0+(alpha*(y-pred)*pred*(1-pred)*1)
    b1=b1+(alpha*(y-pred)*pred*(1-pred)*x1)
    b2=b2+(alpha*(y-pred)*pred*(1-pred)*x2)
    return b0,b1,b2

In [123]:
def normalize(X):
    return X-X.mean()

In [124]:
epoch=int(input())

10

In [125]:
def logistic_reg(data, epoch, alpha=0.2):
    b0=0
    b1=0
    b2=0
    Y=data[2]
    X1=normalize(data[0])
    X2=normalize(data[1])
    for j in range(epoch):
        for i in range(len(X1)):
            pred=calc_y(X1[i],X2[i],b0,b1,b2)
            #print("Pred: " + str(pred))
            y_prob=prob(pred)
            #print("probability: " + str(y_prob))
            b0,b1,b2=calc_b(X1[i],X2[i],b0,b1,b2,Y[i],y_prob,alpha)
    
    print("Final values \nb0: "+str(b0) + " \nb1: "+str(b1)+" \nb2: "+str(b2))
    return b0,b1,b2

In [126]:
b0,b1,b2=logistic_reg(data,epoch,0.1)

Final values
b0: 0.5049649605413467
b1: 1.312629501572882
b2: 1.1957608416615482

In [127]:
X1=normalize(data[0])
X2=normalize(data[1])

In [128]:
for i in range(len(data)):
    p=prob(calc_y(X1[i],X2[i],b0,b1,b2))
    #print(p)
    if(p>0.5):
        y_pred_new[i]=1
    else:
        y_pred_new[i]=0

In [129]:
y_pred_new

0     0.0
1     0.0
2     0.0
3     1.0
4     1.0
     ...
95    1.0
96    0.0
97    1.0
98    0.0
99    1.0
Length: 100, dtype: float64