In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/content/drive/MyDrive/ML LABS/pima.csv')

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas_profiling
from matplotlib import rcParams

In [5]:
data.sample(5)

     Pregnancies  Glucose  ...  Age  Outcome
161            7      102  ...   45        0
57             0      100  ...   31        0
336            0      117  ...   44        0
201            1      138  ...   28        0
352            3       61  ...   46        0

[5 rows x 9 columns]

In [6]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
X=data.drop("Outcome",axis=1)
y=data["Outcome"]

In [8]:
scaler=StandardScaler()

X_scaled=scaler.fit_transform(X)

In [11]:
X_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X_scaled,y,stratify=y,test_size=0.10,random_state=42)

In [10]:
classifier = RandomForestClassifier(n_estimators=100)
classifier.fit(X_train,Y_train)

RandomForestClassifier()

In [12]:
y_pred = classifier.predict(X_test)

In [13]:
print("Accuracy:",accuracy_score(Y_test,y_pred))

Accuracy: 0.8051948051948052

In [14]:
feature_importances_df = pd.DataFrame(
    {"feature":list(X.columns),"importance":classifier.feature_importances_}
).sort_values("importance",ascending=False)

In [15]:
feature_importances_df

                    feature  importance
1                   Glucose    0.258087
5                       BMI    0.152066
7                       Age    0.141440
6  DiabetesPedigreeFunction    0.129182
2             BloodPressure    0.087379
0               Pregnancies    0.084293
4                   Insulin    0.078301
3             SkinThickness    0.069252

In [16]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,Y_train)

DecisionTreeClassifier()

In [17]:
Y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy-DecisionTree :",accuracy_score(Y_test,Y_pred))

Accuracy-DecisionTree : 0.7662337662337663